@import ./Main
@import ./Sidebar

.content
  height: 100%
  margin-bottom: $indent

  .text
    font-size: 17px
    font-weight: 300
    letter-spacing: .5px

@for $i from 0 through 20
  span.color-#{ $i },
  .color-#{ $i } h1::selection,
  .color-#{ $i } p::selection,
  .color-#{ $i } span::selection,
    background-color: hsla($i * 18, 80, 50, .3)
