.main
  flex: 4
  padding-right: $indent * 2

@for $i from 0 through 20

  span.c-#{ $i },
  .color-#{ $i } h1::selection,
  .color-#{ $i } h1:before,
  .color-#{ $i } span::selection,
  .color-#{ $i } span:before
    background: hsla($i * 18, 80, 50, .3)
